*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --maincolor : #EFFFFD
  --sidebarcolor : #B8FFF9
  --content-color : #85F4FF
  --itemcolor1 : #42C2FF
  --itemcolor2 : #98ACF8
  --itemcolor3 : #B088F9
  --itemcolor4 : #DA9FF9
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:5px solid #ccc;
  width: 100vw;
  height: 100vh;
}

.Main {
  display: flex;
  flex-direction: row;
  border:2px solid red;
  border-radius: 20px;
  width: 70%;
  height: 70%;
  padding: 20px;
}

.Main>* {
  border:2px solid  green;
  border-radius: 20px;
}
.sidebar {
  margin-right: 10px;
  width: 300px;
  height: 100%;
}

.content {
 width: 100%;
 height: 100%;
 padding: 20px;
}

.Form__container {
  border-radius: 20px;
  width: 100%;
  height: 60px;
  border: 2px solid red;
}

